.genLogo {
    horiz-align: center;
}

.uniName {
    horiz-align: center;
}

.finalLogo {
    width: 500px;
    height: 500px;
    background: transparent;
    horiz-align: center;
}

.div1 {
    horiz-align: center;
}