@font-face {
    font-family: PSans;
    src: url(../res/ProductSans-Regular.ttf);
}

a {
    color: #ff00ff;
    text-decoration: unset;
}

.linkedin {
    color: #0e76a8;
}

.twitter {
    color: #00acee;
}

body, button, select, option {
    font-family: PSans;
}

.genLogo {
    horiz-align: center;
}

.uniName {
    horiz-align: center;
    font-size: large;
}

.finalLogo {
    width: 500px;
    height: 500px;
    background: transparent;
    position: relative;
    margin: auto;
    border: solid #000000 5px;
}

.title {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
}

.div1 {
    position: fixed;
    text-align: center;
    margin: auto;
    width: 100%;
}

.div2 {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
}

.div3 {
    position: relative;
}

.info {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 100%;
}